.app-logo{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.main{
    width: 100vw;
}
.main-head{
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

}
.top{
    display: flex;
    width: 100%;
}
.s-h{
    margin: 0px;
    font-size: 15px;
}
.m-h{
    color: aqua;
    font-size: 25px;
}
